{% load compress %}
{% load static %}
{% load wagtailcore_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page  }}</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
    
    {% block extra_css %}
    {% endblock %}

</head>
    <body>
        {% block content %}
        {% endblock content %}
        {% block footer %}
            <div class="container mx-auto">
               <footer class="">
                    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
                      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© {%  now "Y"  %} <a href="https://www.fortkentcinema.com/" class="hover:underline">Fort Kent Cinema</a>. All Rights Reserved.
                    </span>
                </div>
            </footer> 
            </div>
        {% endblock footer %}
        <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    </body>
</html>